:root {
    --lightgray: hsl(0, 0%, 96%);
    --darkgray: #363636;
    --border-radius: .3rem;
}

.navbar-item:hover {
    color: var(--darkgray) !important;
    background-color: var(--lightgray) !important;
}