:root {
    --lightgray: hsl(0, 0%, 96%);
    --darkgray: #363636;
    --yellow: #f4b41a;
    --darkBlue: #143d59;
    --border-radius: .3rem;
}

h2 {
    font-size: 150%;
}

.navbar {
    background-color: var(--yellow);
    color: var(--darkBlue);
}

.navbar-item:hover {
    color: var(--darkBlue) !important;
}

#input-form {
    position: relative;
}

.control button {
    position: absolute;
    width: 30%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.forecast-div, .weather-div, .hotel-div {
    height: 250px;
}

.weather-div {
    color: whitesmoke;
    background-color: var(--darkBlue);
}

.control label, .forecast-div, .weather-div {
    text-align: center;
}

.forecast-div p {
    padding-top: 70px;
}

.weather-div p {
    padding: 5px;
}

.hotel-div {
    background-color: var(--lightgray);
}

.shoppingList{
    height: auto;
    border-radius: 8%;
    box-shadow: 10px lightslategray;
    position:fixed;
    bottom:30px;
    right:0;
}

.box{
    height: 700px;
    background-color:lavender;
}

.iternary .title{
    text-decoration: underline;
}

#shopping-list{
margin-top: 10px;
margin-left: 20px;
font-size: large;
list-style: inside; 
}

.shoppingBottomSection{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#totalItems, #shopping-count {
    font-weight: 600;
}
#clear-button {
    margin-top: 20px;
}