:root {
    --lightgray: hsl(0, 0%, 96%);
    --darkgray: #363636;
    --border-radius: .3rem;
}


.navbar-item:hover {
    color: var(--darkgray) !important;
    background-color: var(--lightgray) !important;
}

.forecast-div, .hotel-div {
    background-color: var(--lightgray);
    height: 250px;
}

.packingList{
    height: auto;
    border-radius: 8%;
    box-shadow: 10px lightslategray;
    position:fixed;
    bottom:30px;
    right:0;
}

.box{
    height: 700px;
    background-color:lavender;
}

.iternary .title{
    text-decoration: underline;
}

#tobring-list{
margin-top: 10px;
margin-left: 20px;
font-size: large;
list-style: inside; 
}

.packingBottomsSection{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#totalItems, #tobring-count {
font-weight: 600;
}
#clear-button {
    margin-top: 20px;
}